<div class="row">	
	<div class="col-xs-9 col-sm-9">
	
		<h5>Admin Panel</h5>

        <div class="container">
        	<span ng-show="loggedIn">

	        <div text-angular ng-model="note.body" ta-text-editor-class="form-content" ta-html-editor-class="form-content" ta-focussed-class="focussed"></div>
	        <br/>

	        <button ng-click='funUpdate(note)'>Save</button>

	        </span>
	        <!-- <textarea ng-model="note.content"></textarea><br/> -->
	        <span ng-hide="loggedIn">
	         <div ta-bind ng-model="note.body"></div><br/>
	        </span>
	    </div>

	
	</div>
</div>